{{ block "index" .}}
<!DOCTYPE html>
<html lang="en">
	<head>
		<title>First HTMX Site</title>
		<script src="https://unpkg.com/htmx.org@2.0.1"></script> </head>
	<body>
		{{ template "form" . }}
		<hr />
		{{ template "display" . }}
	</body>
</html>
{{ end }}

{{ block "form" . }}
<form hx-post="/contacts">
	name: <input type="text" name="name" />
	email: <input type="email" name="email" />
	<button type="submit">Create Contact</button>
</form>
{{ end }}


{{ block "display" . }}
<div style="display: flex; flex-direction: column;"> 
	{{ range .Contacts }}
	<div> 
		<span>{{ .Name }}</span>
		<span>{{ .Email }}</span>
	</div>
	{{ end }}
</div>
{{ end }}
